{% extends "base.html" %}

{% block title %} Gallery {% endblock %}
{% block style %}
<style>

#title {
        text-align: center;
        color: #333;
        margin: 20px 0;
    }
</style>
{% endblock %}

{% block content %}

    <h1 id="title">Gallery</h1>
    <p style="text-align: center;">Here are some of our photos:</p>
    <div class="container">

        <div class="row"  style="  background-color: white;">
            
            {% for image in images %}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <div class="img-box" style="display: flex; justify-content: center; margin:10px;  height: 200px; overflow: hidden;">
                <img src="{{ url_for('static', filename='gallery/' ~ image) }}" alt="Gallery Image" class="img-fluid" style="max-height: 100%; max-width: 100%;">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}